<header>
  <nav class="bg-teal-200 border-solid border-b-2 border-gray-300 px-2 py-2.5 rounded">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="#" class="self-center text-lg font-semibond  whitespace-nowrap dark:text-white">
        Vending Machine
      </a>
      <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
        <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
          <li>
            <div *ngIf="isAdmin()">
              <a href="/dashboard" class="font-blod hover:text-blue-700 py-2 px-4 rounded font-sm">Location</a>
            </div>
          </li>

          <li *ngIf="isAdmin()">
            <span class="relative inline-block">
              <button type="button" id="dropdownBasketItems" data-dropdown-toggle="dropdown" class="relative flex font-blod hover:text-blue-700 py-2 px-4 rounded font-sm">
                <div *ngIf="message.length > 0">
                  <span class="absolute top-0 rounded-full bg-red-600 w-4 h-4 top right p-0 m-0 text-white font-mono text-sm  leading-tight text-center">
                    {{message.length}}
                  </span>
                </div>
                <div class="font-blod hover:text-blue-700 py-2 px-4 rounded font-sm">Notification</div>
              </button>
            
            <!-- Dropdown menu -->
              <div>
                <div class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded shadow" id="dropdown">
                  <ul aria-labelledby="dropdown" *ngFor="let mes of message let i = index">
                    <li class=" hover:bg-gray-100">
                      <div class="flex justify-between center block px-4 py-2">
                        <span class="text-sm text-gray-700 block px-4">{{mes.machineId}}</span>
                        <span>
                          <button class="bi bi-trash fa hover:text-blue-700"></button>
                        </span>
                      </div>
                      <div class="flex justify-between center block px-4 py-2">
                        <span class="text-sm text-gray-700 block px-4">{{mes.quatity}}</span>
                      </div>
                    </li>
                    <hr>
                    <hr>
                  </ul>
                </div>
              </div>
            </span>
          </li>

          <li>
            <div *ngIf="!user">
              <a href="/login" class="font-blod hover:text-blue-700 py-2 px-4 rounded font-sm">เข้าสู่ระบบ</a>
            </div>
            <div *ngIf="user">
              <a href="#" class="font-blod hover:text-blue-700 py-2 px-4 rounded font-sm">{{user.displayname}}</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
